<!DOCTYPE html>    
<html>
       <head>
    </head>
    <body>
        <h1>About us</h1>
        <h2>{{box}}</h2>
        <small>{{{datetime}}}</small><br>
        <small>{{rights}}</small>
    </body>
</html>