<!DOCTYPE html>    
<html>
    <head>
        
    </head>
    <body> 
        <h1>Contact us by email</h1>
        <form action="/">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" ><br><br>
            <label for="email">Your Email:</label><br>
            <input type="email" id="email" name="email"> <br> 
            <label for="text">Your Question:</label><br>
            <input type="text" id="q" name="q"><br><br>
            <input type="submit" value="Submit">
          </form>
    </body>
</html>